---
import { Image } from "astro:assets";

const calendar = [
    { day: 14, name: "Monday", width: "1.6em", height: "2.2em", background: "#1F6DCC90", nameweight:"7px" ,dayweight:"10px",textcolor:"#FFFFFF" },
    { day: 15, name: "Tuesday", width: "1.6em", height: "2.2em"  , nameweight:"5px",dayweight:"8px",textcolor:"#CBCBCBFF"},
    { day: 16, name: "Wednesday", width: "1.6em", height: "2.2em" , nameweight:"5px",dayweight:"8px",textcolor:"#CBCBCBFF"},
    { day: 17, name: "Thursday", width: "1.6em", height: "2.2em", nameweight:"5px" ,dayweight:"8px",textcolor:"#CBCBCBFF"},
    { day: 18, name: "Friday", width: "1.6em", height: "2.2em" , nameweight:"5px",dayweight:"8px",textcolor:"#CBCBCBFF"},
    { day: 19, name: "Saturday", width: "1.6em", height: "2.2em" , nameweight:"5px",dayweight:"8px",textcolor:"#CBCBCBFF"},
    { day: 20, name: "Sunday", width: "1.6em", height: "2.2em", nameweight:"5px" ,dayweight:"8px",textcolor:"#CBCBCBFF"},
];
---

<div class="p-4 flex flex-row justify-between items-center">
    <Image
        src="/logo.png"
        class="w-[3.2em] h-[3.2em]"
        width={32}
        height={32}
        alt="Logo"
    />

    <div class="flex gap-1 flex-row items-center">
        {
            calendar.map(({ day, name, width, height , background,nameweight,dayweight,textcolor}, index) => (
                <div
                    class="rounded-[0.300em] "
                    style={`width: ${width}; height: ${height}; background: ${background}`}
                >
                    <div class="text-[0.7em] flex flex-col h-full justify-center text-center">
                        <h2 class="text-white font-medium" style={` font-size: ${dayweight}`}>{day}</h2>
                        <h3 class="text-gray-300 font-medium  " style={`font-size: ${nameweight}; color: ${textcolor}`}>
                            {name.slice(0, 3)}
                        </h3>
                    </div>
                </div>
            ))
        }
    </div>
</div>
